# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
*.swp
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.lock
!pubspec.lock
